.seach-bar {
    height: 82px;
    background-color: cornflowerblue;

    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.container {
    margin: 16px 16px 16px 16px;
}

.list-items {
    display: flex;
    flex-wrap: wrap;
}

.list-items>.card {
    flex: 1 1 250px;
}

.card {
    border: solid 1px cornflowerblue;
    border-radius: 8px;
    margin: 16px;
    padding: 16px;
    min-width: 250px;
    max-width: 400px;
}